---
---
<nav class="topnav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/now">Now</a></li>
    <li><a href="https://www.linkedin.com/in/william-l-anderson-a853b92aa/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><a href="https://github.com/wlanderson0" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a href="https://wlandersons.substack.com/" target="_blank" rel="noopener noreferrer">Substack</a></li>
    <li><a href="/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></li>
  </ul>
</nav>
